<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nero.click.dao.ManhattanDao">

    <!--/**-->
    <!--* 根据染色体获取基因id-->
    <!--* @param ucChrom-->
    <!--* @return-->
    <!--*/-->
    <!--List<Integer> getGeneId(Integer ucChrom);-->
    <select id="getGeneId" resultType="Integer">
        select geneID from gene where ucChrom in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>;
    </select>

    <!--/**-->
    <!--* 根据基因获取propertyId-->
    <!--* @param gengId-->
    <!--* @return-->
    <!--*/-->
    <!--List<Integer> getPropertyId(Integer gengId);-->
    <select id="getPropertyId" resultType="Integer">
        select propertyID from relation where gbmtID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>;
    </select>

    <!--/**-->
    <!--* 获取麦哈顿图数据-->
    <!--* @param ptopertyId-->
    <!--* @param cancerTable-->
    <!--* @return-->
    <!--*/-->
    <!--List<Point> manhattan(Integer ptopertyId,String cancerTable);-->
    <select id="manhattan" resultType="org.nero.click.dto.Point">
        SELECT x,y,sampleID from ${table} where propertyID IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>