<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nero.click.data.dao.ManhattanDao">

    <select id="getManhattanData" resultType="String">
        SELECT ID from ${dataType}_gene_manhadun where ucChrom = ${chromosome} ;
    </select>
    <select id="getSampleAll" resultType="org.nero.click.data.dto.Point">
        select * FROM ${cancerType}_${normal}_${dataType}_l_0_1_manhadun WHERE geneid in
        <foreach collection="geneId" index="index" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </select>

</mapper>